{# src/Acme/SecurityBundle/Resources/views/Security/login.html.twig #}

{% extends 'DistribuceTiskuBundle::layout.html.twig' %}

{% block title %}Log in{% endblock%}    

{% block body %}
    
    {% for flashMessage in app.session.flashbag.get('ok') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('exception') %}
    <div class="exception-notice">
    {{ flashMessage }}
    </div>
    {% endfor %}  

{% block headerBox %}
    <header>
        <h1>Přihlášení na účet</h1>
    </header>
    <p>Vyplňte svoje uživatelské jméno a heslo</p>
    {% endblock %}
    
    <form action="{{ path('_login_check') }}" method="post">
        <label for="username">Login:</label>
        <input type="text" id="username" name="_username" />
        <br />
        <label for="password">Heslo:</label>
        <input type="password" id="password" name="_password" />
        <br />
        <button type="submit">příhlásit</button>
    </form>
    
    
    

{% endblock %}